   * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
    
    html,body{
                background-color: black;
                overflow-x: hidden;
                scrollbar-width: none;
                width: 100%;
                height: 100%;
                position:absolute;
            }
    
    ::-webkit-scrollbar{
        display: none;
    }

    #back-arrow{
        color: white;
        font-size: 50px;
        font-weight: bolder;
        margin-left: 4%;
    }

    h1{
        text-align: center;
      padding-bottom: 5%;
        color: rgb(54, 177, 177);
        font-size: 30px;
        font-family: cursive;
        font-weight: bold;
    }

    .text{
        color: yellow;
        text-align: center;
        font-size: large;
    }

    h2{
        width: 100%;
        text-align: center;
        color: black;
        background-color: yellow;
        font-size: 35px;
        font-family: cursive;
        font-weight: bolder;
        padding: 5%;
        margin-top: 5%;
    }

    .box{
        display: inline-block;
    width: 50px;
    height: 50px;
    color: black;
    font-weight: 500;
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    margin-left: 3%;
    }

    #schedule-pickup{
        text-align: center;
        font-size: 30px;
        font-weight: bolder;
        font-family: cursive;
        color: yellow;
        padding: 13%;
    }

    .left-bot{
  clip-path: polygon(0% 25.5%, 100% 25.5%, 80.2% 50.25%, 100% 75%, 0% 74.75%);
  background-color: yellow;
  position: fixed;
  bottom: -6%;
  left: 0;
  width: 45%;
  height: 100px;
  z-index: 1000;
}

.right-bot{
  clip-path: polygon(0% 25.5%, 100% 25.5%, 100% 75%, 0% 74.75%, 19.7% 50.13%);
background-color: yellow;
position: fixed;
bottom: -6%;
right: 0;
width: 45%;
height: 100px;
z-index: 1000;
}

.bot1{
  z-index: 10000;
  color: rgb(0, 0, 0);
  font-size: 23px;
  font-weight:bold;
  font-family: 'Times New Roman', Times, serif;
  position: fixed;
  bottom: 1%;
  left: 2%;
}
.bot2{
  z-index: 10000;
  color: rgb(0, 0, 0);
  font-size: 23px;;
  font-weight:bold;
  font-family: 'Times New Roman', Times, serif;
  position: fixed;
  bottom: 1%;
  right: 1%;
}

#home{
  color: black;
  font-size: 35px;
  font-weight: bolder;
  background-color: rgb(83, 199, 199);
  border-radius: 60px;
  width: 50px;
  text-align: center;
  padding: 1%;
  position: fixed;
  bottom:-1%;
  left: 42.5%;
}

input[type="checkbox"]{
    position: absolute;
    height: 60px;
    opacity: 0;
}

.selected{
  outline: 3px solid rgb(0, 255, 0);
  border-radius: 8px;
}

    /**************** MOBILE RESOLUTION ************/

@media only screen and (min-width:360px){
    .box{
        display: inline-block;
    width: 60px;
    height: 60px;
    color: black;
    font-weight: 500;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    margin-left: 2%;
    }
    #schedule-pickup{
        padding: 15%;
    }
    #home{
        position: fixed;
  bottom:-1%;
  left: 43%;
    }
}

@media only screen and (min-width:412px){
    .box{
        display: inline-block;
    width: 70px;
    height: 70px;
    color: black;
    font-weight: 500;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    margin-left: 2%;
    }
    #home{
        width: 60px;
    font-size: 45px;
    position: fixed;
  bottom:0%;
  left: 43%; 
    }
    .right-bot{
    height: 130px;
    position: fixed;
    bottom:-4%;
  }
  .left-bot{
    height: 130px;
    position: fixed;
    bottom:-4%;
  }
  .bot1{
    position: fixed;
    bottom:1%;
    left: 1%;
    font-size: 30px;
  }
  .bot2{
    position: fixed;
    bottom:1%;
    right: 1%;
    font-size: 30px;
  }
}

/**************** TABLET RESOLUTION ************/

@media only screen and (min-width:768px){
    .right-bot{
    height: 160px;
    position: fixed;
    bottom:-4%;
  }
  .left-bot{
    height: 160px;
    position: fixed;
    bottom:-4%;
  }
  .bot1{
    position: fixed;
    bottom:1%;
    left: 1%;
    font-size: 50px;
  }
  .bot2{
    position: fixed;
    bottom:1%;
    right: 1%;
    font-size: 50px;
  }
  #home{
        width: 100px;
    font-size: 70px;
    position: fixed;
  bottom:0%;
  left: 43%; 
    }
    #back-arrow{
        font-size: 100px;
    }
    h1{
        font-size: 60px;
    }
    .text{
        font-size: xx-large;
    }
    h2{
        font-size: 70px;
    }
    .box{
        display: inline-block;
    width: 110px;
    height: 110px;
    color: black;
    font-weight: 500;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    margin-left: 5%;
    }
    #schedule-pickup{
        font-size: 60px;
    }
}

@media only screen and (min-width:1024px){
  #home{
        width: 100px;
        font-size: 70px;
        position: fixed;
        bottom:0%;
        left: 45%;
    }
}
